<!doctype html>
{% import 'macros.html' as macs %}
<html>

    <head>
        <title>Coronavirus (COVID-19)</title>
        <link rel="icon" href="static/favicon.png">
        <style type="text/css">
            .header{
                text-align: center;
                background-color: rgb(136, 185, 229);
                height: 70px;
                line-height: 70px;
            }
            .chart{
                margin-top: 30px;
                text-align: center;
            }
        </style>

        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

        {{ macs.cookieconsent_head() }}
    </head>

    <body>

        <div class="header">
            <h2>
                 {{name}}
            </h2>
        </div>

        <div id="chart" class="chart">
        </div>
        {{ macs.cookieconsent_body() }}
    </body>
    <script type="text/javascript">
            var graphs = {{graphJSON | safe}};
            Plotly.plot('chart', graphs,{});
    </script>

</html>