<!doctype html>
{% import 'index.js' as js %}
{% import 'macros.html' as macs %}
<html>
<head>
    <title>Coronavirus (COVID-19)</title>
    <style>
        .per_mil {
            float: left;
            padding-left: 150px;
        }
    </style>
    <link rel="icon" href="static/favicon.png">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">

    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>

    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

    <script type="text/javascript">
        default_countries = "{{countries.default_countries}}"
        {{js.js()}}
    </script>
    {{ macs.cookieconsent_head() }}
</head>
<body>
    <h1>Coronavirus (COVID-19)</h1>
    <p>Reported Cases by Country (Data updated {{ countries.commit_date }}, Last day {{ countries.last_date.strftime("%b %d, %Y") }})</p>
    <table id="countries" class="display">
        <thead>
            <tr>
                <th></th>
                <th>Country</th>
                <th>Confirmed</th>
                <th>Closed</th>
                <th>Recovered</th>
                <th>Deaths</th>
                <th>Active</th>
                <th>Confirmed</th>
                <th>Closed</th>
                <th>Recovered</th>
                <th>Deaths</th>
                <th>Active</th>
                <th>Population</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in last_day.iterrows() %}
            <tr>
                <td></td>
                <td><a href="country?name={{ value['Alias'] }}" target="_blank">{{ key }}</a> </td>
                <td> {{ fn(value['Confirmed']) }} </td>
                <td> {{ fn(value['Closed']) }} </td>
                <td> {{ fn(value['Recovered']) }} </td>
                <td> {{ fn(value['Deaths']) }} </td>
                <td> {{ fn(value['Active']) }} </td>

                <td> {{ ff(value['Confirmed_PM']) }} </td>
                <td> {{ ff(value['Closed_PM']) }} </td>
                <td> {{ ff(value['Recovered_PM']) }} </td>
                <td> {{ ff(value['Deaths_PM']) }} </td>
                <td> {{ ff(value['Active_PM']) }} </td>

                <td> {{ fn(value['Population']) }} </td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>
    
    Hold shift and click to sort by multiple columns. Closed = Recovered + Deaths, Active = Confirmed - Closed. 
    <br><br>
    <input type="button" id="updateBtn" value="Update Charts" />
    <div id="countries_last_day_page"></div>
    <div id="countries_Confirmed_chart"></div>
    <div id="countries_Closed_chart"></div>
    <div id="countries_Recovered_chart"></div>
    <div id="countries_Deaths_chart"></div>
    <div id="countries_Active_chart"></div>
    Click on the trace labels on the right to add and remove traces.
    {{ macs.cookieconsent_body() }}
</body>
</html>